<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Name</th>
      <th>Cnpj</th>
      <th>State</th>
      <th>State code</th>
      <th>Neighborhood</th>
      <th>Number</th>
      <th>Street</th>
      <th>Complement</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.account %></td>
        <td><%= organization.name %></td>
        <td><%= organization.cnpj %></td>
        <td><%= organization.state %></td>
        <td><%= organization.state_code %></td>
        <td><%= organization.neighborhood %></td>
        <td><%= organization.number %></td>
        <td><%= organization.street %></td>
        <td><%= organization.complement %></td>
        <td><%= organization.city %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
